@page
@model LoginSessionTest.Pages.WelcomeModel
@{
}

<h3>Welcome to @Model.UserName</h3>

<a asp-page="/users/LogIn" asp-page-handler="Logout">Logout</a>

<h2>Bruger har id   @Model.CurrentUser.Id  og email  @Model.CurrentUser.Email </h2>